@media print, (max-width: 1023px) {
 
    /* :root {
        --font_size: 18px;
        --font_size_title: 32px;
    }    */

    header {
        padding: 11px 0;
    }
    header .mob_menu_btn {
        display: flex;
        order: 0;
    }
    .header_logo {
        margin-right: auto;
        margin-left: 13px;
    }

    header .menu {
        position: fixed;
        z-index: 107;
        top: 75px;
        right: 0;
        display: flex;
        overflow: auto;
        width: 100%;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 192px 20px 50px;
        transition: transform .3s linear;
        transform: translateX(100%);
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        background: #16171A;
    }
    header .menu.show {
        transform: translateX(0);
    }
    header .close_btn {
        display: flex;
    }
    .menu_open header .mob_menu_btn {
        display: none;
    }
    header .menu .item {
        width: 100%;
        margin-right: 0;
    }
    header .menu .item + .item {
        margin-left: 0;
    }
    header .menu .item > a {
        display: block;
        height: auto;
        text-align: center;
        font-size: 32px;
        font-weight: 800;
        line-height: 1.1;
        text-transform: uppercase;     
    }    
    header .menu .item + .item {
        margin-top: 38px;
    }
    header .close_btn {
        display: none;
    }
    .header_phone {
        margin-right: auto;
        margin-left: 15px;
    }
    .menu_open header .close_btn {
        display: block;
        top: 28px;
        left: 27px;
        position: fixed;
        z-index: 999;
    }
    .menu_open .header_logo {
        margin-left: 53px;
    }
    header .menu {
        gap: 0px;
    }
    .menu_open {
        overflow-y: hidden;
    }
 
    

    
}
