@media print, (max-width: 1023px) {
 
    /* :root {
        --font_size: 18px;
        --font_size_title: 32px;
    }    */

    header {
        padding: 11px 0 187px;
    }
    header .mob_menu_btn {
        display: flex;
        order: 0;
    }
    .header_logo {
        margin-right: auto;
        margin-left: 13px;
    }

    header .menu {
        position: fixed;
        z-index: 107;
        top: 75px;
        right: 0;
        display: flex;
        overflow: auto;
        width: 100%;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height: fill-available;
        margin: 0;
        padding: 192px 20px 50px;
        transition: transform .3s linear;
        transform: translateX(100%);
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        background: #16171A;
    }
    header .menu.show {
        transform: translateX(0);
    }
    header .close_btn {
        display: flex;
    }
    .menu_open header .mob_menu_btn {
        display: none;
    }
    header .menu .item {
        width: 100%;
        margin-right: 0;
    }
    header .menu .item + .item {
        margin-left: 0;
    }
    header .menu .item > a {
        display: block;
        height: auto;
        text-align: center;
        font-size: 32px;
        font-weight: 800;
        line-height: 1.1;
        text-transform: uppercase;     
    }    
    header .menu .item + .item {
        margin-top: 38px;
    }
    header .close_btn {
        display: none;
    }
    .header_phone {
        margin-right: auto;
        margin-left: 15px;
    }
    .menu_open header::after {
        display: none;
    }
    
    .menu_open header .close_btn {
        display: block;
        top: 28px;
        left: 27px;
        position: fixed;
        z-index: 999;
    }
    .menu_open .header_logo {
        margin-left: 53px;
    }
    header .menu {
        gap: 0px;
    }
    .menu_open {
        overflow-y: hidden;
    }


    .footer_top {
        flex-wrap: wrap;
    }
    .footer_menu {
        order: 1;
        width: 100%;
        justify-content: space-between;
        margin: 30px auto 0;
        width: 75%;
    }
    .header_wrap {
        margin-bottom: 49px;
    }
    .header_title {
        font-size: 54px;
        margin-bottom: 20px;
    }
    .header_subtitle {
        font-size: 28px;
        margin-bottom: 20px;
    }
    .header_text {
        font-size: 21px;
        margin-bottom: 43px;
    }
    .header_img1 {
        right: -215px;
    }
    .header_img2 {
        left: -165px;
        bottom: -135px;
    }
    .header_img3 {
        display: none;
    }
    header {
        padding: 11px 0 80px;
    }
    .about_wrap {
        flex-direction: column-reverse;
    }
    .about,
    .explanation,
    .advantages,
    .projects,
    .stage {
        padding: 40px 0 40px;
    }
    .about {
        padding-top: 80px;
    }
    .stage {
        padding-bottom: 80px;
    }
    .about_img {
        width: 620px;
        height: 620px;
        margin-left: 0px;
        margin-top: -70px;
    }
    .about_btn {
        z-index: 5;
        position: relative;
    }
    .explanation_wrap {
        flex-direction: column;
    }
    .explanation_img {
        position: relative;
        margin-top: -100px;
    }
    .explanation_info {
        max-width: 100%;
    }
    .about_title,
    .explanation_title,
    .advantages_title,
    .projects_title,
    .stage_title,
    .callback_title {
        font-size: 42px;
        margin-bottom: 30px;
    }
    .explanation_text {
        font-size: 22px;
    }
    .stage_items > * {
        width: calc(100% / 2 - 22px);
    }
    .stage_img {
        display: none;
    }
    .callback_img {
        position: relative;
        bottom: -98px;
        width: 730px;
        height: 454px;
        right: auto;
        left: auto;
        margin-top: -200px;
    }
    .callback_info {
        max-width: 100%;
    }
    .callback_title br {
        display: none;
    }
    .callback_text br {
        display: none;
    }
    .explanation_text {
        font-size: 22px;
    }
    .modal {
        padding: 33px 20px 20px;
    }
    .modal .line {
        gap: 16px;
    }
    .modal .line .field {
        width: calc(100% / 3 - 11px);
    }
    .modal input {
        font-size: 16px;
    }
    .modal input::-webkit-input-placeholder {
        font-size: 16px;
    }
    .modal input::-moz-placeholder {
        font-size: 16px;
    }
    .modal input:-moz-placeholder {
        font-size: 16px;
    }
    .modal input:-ms-input-placeholder {
        font-size: 16px;
    }
    .modal textarea {
        font-size: 16px;
    }
    .modal textarea::-webkit-input-placeholder {
        font-size: 16px;
    }
    .modal textarea::-moz-placeholder {
        font-size: 16px;
    }
    .modal textarea:-moz-placeholder {
        font-size: 16px;
    }
    .modal textarea:-ms-input-placeholder {
        font-size: 16px;
    }
    .nice-select {
        font-size: 16px;
    }
    .modal .line + .line {
        margin-top: 16px;
    }
    .form_text {
        width: 100%;
        font-size: 12px;
    }
    .modal_text {
        font-family: var(--font_family);
        font-size: 16px;
        font-weight: 300;
        line-height: 1.2;
        margin-bottom: 20px;
        color: #fff;
        margin-top: 0px;
    }
    .modal_title {
        margin-bottom: 35px;
        font-size: 38px;
    }
 
 
    

    
}
