/* For old browsers */
@supports (not(--css: variables)) {
    .supports_error {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .supports_error {
        display: flex !important;
    }
}



/*------------------
    Reset styles
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scroll-margin-top: 88px;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img {
    border-style: none;
}

textarea {
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button {
    margin: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

:focus {
    outline: 0;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear {
    display: none;
}




/*-------------------
    Global styles
-------------------*/
:root {
    --bg: #010A13;
    --scroll_width: 17px;
    --text_color: #fff;
    --font_size: 15px;
    --font_size_title: 40px;
    --font_family: "Mulish";
}


::selection {
    color: #fff;

    background: #18A0FB;
}

::-moz-selection {
    color: #fff;

    background: #18A0FB;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


body {
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);
    background: var(--bg);
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 390px;
    min-height: 100%;

    background: var(--bg);
}


.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}


.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

img {
    display: block;
}


.overlay {
    position: fixed;
    z-index: 1;
    top: 75px;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .3;
    background: #000;
}



.supports_error {
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show {
    display: flex;
}





/*------------
    Header
------------*/

header {
    padding: 38px 0 182px;    
}

.header_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .mob_menu_btn {
    display: none;
    width: 40px;
    height: 23px;
    margin-right: 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 8;
}

header .mob_menu_btn .icon {
    display: block;
    width: 20px;
    height: 18px;
}

header .close_btn {
    display: none;
    width: 30px;
    height: 28px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 103;
}

header .menu {
    display: flex;
    gap: 63px;
    margin-left: auto;
}

header .menu .item {
    position: relative;
}

header .menu .item>a {
    font-family: var(--font_family);
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    color: #e3e3e3;
    position: relative;
    display: flex;
    transition: all .4s;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    text-decoration: none;
}

header .menu .item:hover>a {
    color: #fff;
}

header .menu .item:active>a {
    color: #fff;
}

header .menu .item.active>a {
    color: #fff;
}

.header_logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: var(--font_family);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
    color: #fff;
}
.header_wrap {
    margin-bottom: 146px;
}
.header_contact {
    margin-left: 62px;
}
.btn {
    height: 60px;
    border-radius: 52px;
    border: 1px solid #8A8A8A;
    font-family: var(--font_family);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 38px;
}
.btn span {
    padding-left: 19px;
    display: block;
    position: relative;
}
.btn span:before {
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #4EDEEF;
}
.header_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header_title {
    font-family: var(--font_family);
    font-weight: 800;
    font-size: 118px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(94.18deg, #BFEEFF 5.34%, #85E2F9 36.25%, #54E1F7 72.44%, #505CD8 99.38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 40px;
}
.header_subtitle {
    font-family: var(--font_family);
    font-size: 78px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.header_text {
    font-family: var(--font_family);
    font-size: 28px;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 68px;
}
.header_btn {
    margin: 0 auto;
}



.about {
   padding: 179px 0 299px;
}
.about_wrap {
    display: flex;
    align-items: center;
    gap: 32px;
}
.about_img {
    width: 658px;
    height: 658px;  
    flex-shrink: 0;  
    margin-left: -90px;
}
.about_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about_title {
    font-family: var(--font_family);
    font-size: 78px;
    font-weight: 800;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 34px;
}
.about_text p {
    font-family: var(--font_family);
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 34px;
    color: #E3E3E3;
}
.about_text ul {
    padding-left: 25px;
    margin-bottom: 41px;
}
.about_text ul li {
    font-family: var(--font_family);
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    color: #E3E3E3;    
}
p.mb0 {
    margin-bottom: 0;
}



.explanation {
    margin-bottom: 390px;
}
.explanation_wrap {
    position: relative;
}
.explanation_info {
    max-width: 636px;
}
.explanation_title {
    font-family: var(--font_family);
    font-weight: 800;
    font-size: 118px;
    line-height: 110%;
    text-transform: uppercase;
    background: linear-gradient(94.27deg, #BFEEFF 5.36%, #85E2F9 16.99%, #54E1F7 71.01%, #505CD8 88.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 46px;
}
.explanation_text {
    font-family: var(--font_family);
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2;
    margin-left: 16px;
}
.explanation_img {
    position: absolute;
    right: -290px;
    top: 50%;
    transform: translateY(-50%);
}



.advantages_title {
    font-family: var(--font_family);
    font-size: 68px;
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 65px;
    text-transform: uppercase;
}
.advantages_items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 37px;
}
.advantages_items > * {
    width: calc(100%/3 - 20px);
    background: #1C1D22;
    border-radius: 20px;
    padding: 30px 30px 23px 30px;
    display: flex;
    flex-direction: column;
}
.advantages_item-icon {
    width: 56px;
    height: 56px;
}
.advantages_item-title {
    margin-top: 26px;
    font-family: var(--font_family);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 22px;
}
.advantages_item-text {
    font-family: var(--font_family);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: #E3E3E3;
    margin-bottom: 39px;
}
.advantages_item-btn {
    width: 100%;
    margin-top: auto;
}
.advantages_item:last-child {
    background: url(../images/advantages_item_bg.png);
    align-items: center;
}
.advantages_item:last-child .advantages_item-title {
    font-family: var(--font_family);
    font-size: 44px;
    font-weight: 800;
    line-height: 1.2;
    text-align: center; 
    text-transform: uppercase; 
    margin-bottom: 36px;  
}
.advantages_item:last-child .advantages_item-text {
    font-family: var(--font_family);
    font-size: 18px;
    font-weight: 400;
    line-height: 1,2;
    text-align: center; 
    text-transform: uppercase; 
    margin-bottom: 36px;  
}


.projects {
    margin-bottom: 304px;
}
.projects_title {
    text-align: center;
    margin-bottom: 50px;
    font-family: var(--font_family);
    font-style: normal;
    font-weight: 800;
    font-size: 118px;
    line-height: 110%;
    text-transform: uppercase;
    background: linear-gradient(94.27deg, #BFEEFF 5.36%, #85E2F9 16.99%, #54E1F7 71.01%, #505CD8 88.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.projects_item-btn {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.projects_item {    
    border-radius: 10px;
    text-decoration: none;
    background: #fff;
    position: relative;
    transition: all .4s;
}
.projects_item:hover::before {
    background: rgba(255, 255, 255, 0.81);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
}
.projects_item:hover .projects_item-btn {
    opacity: 1;
}
.projects_item-info {
    padding: 20px 20px 30px 20px;
    background: #fff;
    border-radius: 0 0 10px 10px;
}
.projects_item-title {
    font-family: var(--font_family);
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 12px;
    color: #000;
}
.projects_item-text {
    font-family: var(--font_family);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #423E3E;
}
.projects_item-list {
    font-family: var(--font_family);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #423E3E;
    list-style: none;
    margin-top: 20px;
}
.projects_btns {
    margin: 75px auto 0;
    display: flex;
    justify-content: center;
}
.swiper-horizontal > .swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, 
.swiper-pagination-fraction {
    bottom: 92px;
    left: 50%;
    transform: translateX(-50%);
}
.swiper-pagination-bullet {
    display: block;
    width: 13px;
    height: 13px;
    transition: .2s linear;
    pointer-events: auto;
    opacity: 1;
    border-radius: 50%;
    background: #44474C;
    border: none;
}
.swiper-pagination-bullet:hover, 
.swiper-pagination-bullet.active {
    background: #4EDEEF;
}


.stage_title {
    font-family: var(--font_family);
    font-size: 68px;
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 87px;
}
.stage_items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 101px;
    row-gap: 54px;
    counter-reset: section;
}
.stage_items > * {
    width: calc(100%/3 - 68px);
    padding-top: 93px;
    position: relative;
}
.stage_item-title {
    font-family: var(--font_family);
    font-size: 28px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 18px;
    color: #fff;
}
.stage_item-text {
    font-family: var(--font_family);
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    color: #e3e3e3;
}
.stage_item::before {
    counter-increment: section; 
    content: "0" counter(section) " "; 
    width: 66px;
    height: 66px;
    background: linear-gradient(123.39deg, #BFEEFF 4.82%, #85E2F9 44.59%, #54E1F7 74.85%, #505CD8 91.27%);
    font-family: var(--font_family);
    font-size: 32px;
    font-weight: 800;
    line-height: 1.2;
    color: #16171B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}



.callback {
    padding: 103px 0 98px;
}
.callback_wrap {
    position: relative;
}
.callback_info {
    max-width: 482px;
}
.callback_title {
    font-family: var(--font_family);
    font-size: 68px;
    font-weight: 800;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 35px;
    text-transform: uppercase;
}
.callback_text {
    font-family: var(--font_family);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 35px;
}
.callback_img {
    position: absolute;
    bottom: 0;
    right: 0;
}


footer {
    padding: 46px 0 48px;
}
.footer_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 31px;
}
.footer_logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: var(--font_family);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    text-decoration: none;
    margin-left: -21px;
}
.footer_menu {
    display: flex;
    align-items: center;
    gap: 61px;
}
.footer_menu .item a {
    font-family: var(--font_family);
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    text-decoration: none;
    color: #E3E3E3;
}
.footer_menu .item>a {
    font-family: var(--font_family);
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    color: #e3e3e3;
    position: relative;
    display: flex;
    transition: all .4s;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    text-decoration: none;
}

.footer_menu .item:hover>a {
    color: #fff;
}
.footer_contact {
    display: flex;
    align-items: center;
    gap: 50px;
}
.footer_phone {
    font-family: var(--font_family);
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    color: #e3e3e3;
    text-decoration: none;
    transition: all .4s;
}
.footer_phone:hover {
    color: #fff;
}
.footer_bottom {
    padding-top: 36px;
    border-top: 1px solid #28292D;
    display: flex;
    justify-content: space-between;
}
.footer_copy {
    margin-right: 20px;
    font-family: var(--font_family);
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
}
.footer_politic {
    font-family: var(--font_family);
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    color: #e3e3e3; 
    text-decoration: none;   
    transition: all .4s;
}
.footer_politic:hover {
    color: #fff;
}



.modal {
    background: #242629;
    padding: 100px 58px;
    max-width: 1316px;
    width: 100%;
}
.modal_title {
    margin-bottom: 20px;
    font-family: var(--font_family);
    font-size: 68px;
    font-weight: 800;
    line-height: 1.2px;
    color: #fff;
}
.modal_text {
    font-family: var(--font_family);
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 49px;
    color: #fff;
    margin-top: 55px;
}
.modal .line {
    display: flex;
    gap: 30px;
}
.modal .line .field {
    width: calc(100%/3 - 20px);
}
.modal .line + .line {
    margin-top: 30px;
}
.modal input {
    width: 100%;
    padding: 18px 20px;
    gap: 11px;
    height: 60px;
    border: 1px solid #8A8A8A;
    border-radius: 10px;
    background: transparent;
    font-family: var(--font_family);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}
.modal input::-webkit-input-placeholder {
    font-family: var(--font_family);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}
.modal input::-moz-placeholder {
    font-family: var(--font_family);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}
.modal input:-moz-placeholder {
    font-family: var(--font_family);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}
.modal input:-ms-input-placeholder {
    font-family: var(--font_family);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}
.modal textarea {
    width: 100%;
    padding: 18px 20px;
    gap: 11px;
    height: 120px;
    border: 1px solid #8A8A8A;
    border-radius: 10px;
    background: transparent;
    font-family: var(--font_family);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    resize: none;
}
.modal textarea::-webkit-input-placeholder {
    font-family: var(--font_family);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}
.modal textarea::-moz-placeholder {
    font-family: var(--font_family);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}
.modal textarea:-moz-placeholder {
    font-family: var(--font_family);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}
.modal textarea:-ms-input-placeholder {
    font-family: var(--font_family);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}
.modal .line:nth-child(3) .field {
    width: 100%;
}
.modal .line:nth-child(4) {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 66.66666%;
    margin-left: auto;
}
.form_text {
    font-family: var(--font_family);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    color: #e3e3e3;
    width: calc(100% - 270px);
}

